html {
   padding: env(safe-area-inset);
}
html, body {
   overflow-x: hidden;
   font-family: 'Lato', sans-serif;
   color: #505962;
}
.text-title {
   color: #1EBBA3;
}

.offset:before {
   content: "";
   height: 4rem;
   display: block;
   margin-top: -4rem;
}

[class*="col-"] {
   padding: 1rem;
}
.navbar-brand img {
   height: 5rem;
}
.navbar {
   padding: .7rem 1rem;
   text-transform: uppercase;
   font-weight: 700;
   letter-spacing: .1rem;
   font-size: .9rem;
   transition: background-color .5s ease;
}
.navbar-nav li {
   padding-right: .8rem;
}
.navbar-nav .nav-link {
   color: white;
   padding-top: .8rem;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
   color: #1EBBA3;
}
.custom-toggler-icon {
   color: white;
   font-size: 1.6rem;
}
.navbar.solid,
.navbar.solid-toggle {
   background: rgba(0, 0, 0, .7)!important;
   transition: background-color 1s ease;
}

button:focus, a:focus, a.btn:focus {
   outline: 0;
   -webkit-appearance: none;
   box-shadow: none;
   transition: all .6s ease;
}
button, a, a.btn,
.svg-inline--fa {
   transition: all .6s ease;
}

.landing {
   position: relative;
   width: 100%;
   height: 100vh;
   display: table;
   z-index: -1;
}
.home-wrap {
   clip: rect(0, auto, auto, 0);
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
}
.home-inner {
   background-image: url('img/collage.png');
   position: fixed;
   height: 100%;
   width: 100%;
   background-size: cover;
   background-position: center center;
   -webkit-transform: translateZ(0);
   transform: translateZ(0);
   will-change: transform;
   display: table;
}
.home-inner2 {
   background-image: url('img/30.png');
   position: fixed;
   height: 100%;
   width: 100%;
   background-size: cover;
   background-position: center center;
   -webkit-transform: translateZ(0);
   transform: translateZ(0);
   will-change: transform;
   display: table;
}
.home-inner3 {
   background-image: url('img/p1.jpeg');
   position: fixed;
   height: 100%;
   width: 100%;
   background-size: cover;
   background-position: center center;
   -webkit-transform: translateZ(0);
   transform: translateZ(0);
   will-change: transform;
   display: table;
}
.v-header{
   height:100vh;
   display:flex;
   align-items:center;
   color:#fff;
 }
 
 .container{
   max-width:960px;
   padding-left:1rem;
   padding-right:1rem;
   margin:auto;
   text-align:center;
 }
 .row, .container-fluid {
 margin-left: 0px!important;
 margin-right: 0px!important;
 }
 .video-wrap {
   clip: rect(0, auto, auto, 0);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
 }
 #video {
   position: fixed;
   display: block;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-size: cover;
   background-position: center center;
   -webkit-transform: translateZ(0);
           transform: translateZ(0);
   will-change: transform;
   z-index: -1000;
 }
 video { 
   position: fixed;
   top: 50%;
   left: 50%;
   min-width: 100%;
   min-height: 100%;
   width: auto;
   height: auto;
   z-index: -100;
   transform: translateX(-50%) translateY(-50%);
   background: url('') no-repeat;
   background-size: cover;
   transition: 1s opacity;
 }

.caption {
   z-index: 1;
   position: absolute;
   top: 38%;
   width: 100%;
   max-width: 100%;
}
.caption h1 {
   font-size: 4.5rem;
   letter-spacing: .3rem;
   text-shadow: .1rem .1rem .8rem black;
   padding-bottom: 1rem;
}
.caption h3 {
   font-size: 2.5rem;
   text-shadow: .1rem .1rem .5rem black;
   padding-bottom: 2rem;
}
.caption .btn-lg {
   border-width: medium;
   padding: .8rem 1.5rem;
   font-size: 1.1rem;
}
.arrow {
   position: absolute;
   bottom: 0;
   width: 100%;
   animation: bounce 2s infinite;
   -webkit-animation: bounce 2s infinite;
}
.down-arrow .svg-inline--fa {
   color: white;
   font-size: 2.2rem;
   opacity: .3;
}
.down-arrow .svg-inline--fa:hover {
   opacity: .8;
}

h3.heading {
   text-transform: uppercase;
   font-weight: 700;
   font-size: 1.9rem;
   text-align: center;
   margin-bottom: 1.9rem;
}
.heading-underline {
   width: 3rem;
   height: .2rem;
   background-color: #1EBBA3;
   margin: 0 auto 2rem;
}


.portfolio-item img:hover {
   transform: scale(1.3);
}
.portfolio-item img {
   transition: transform .4s ease;
}

ul.social {
   list-style: none;
   padding: 0;
   margin: 0;
   font-size: 1.5rem;
}
ul.social li {
   display: inline;
   padding-right: .8rem;
}
ul.social li a {
   color: #1EBBA3;
   transition: all .2s ease;
}
ul.social li a:hover {
   color: #505962;
}
.footer {
   background: url('img/10.jpg') no-repeat;
   background-size: cover;
   color: white;
}
.row.outer {
   background-color: rgba(57, 63, 70, .85);
   padding: 1rem 2rem 3rem;
}
.footer img {
   height: 5rem;
   margin: 1.5rem 0;
}
.footer a,
.footer ul.social li a {
   color: white;
}
.footer ul.social li a:hover {
   color: #1EBBA3;
}
.footer h3 {
   text-transform: uppercase;
   margin: 1.5rem 0;
}

.form-group {
   margin-bottom: 1.3rem;
}
.form-control {
   background-color: #53595f;
   border-radius: 0;
   border: .15rem solid #666b71;
   color: white!important;
   font-size: 1.1rem;
}
.form-control:focus {
   background-color: #53595f;
   border: .15rem solid #666b71;
}
.form-group input::placeholder,
.form-group textarea::placeholder {
   color: #b2b5b8!important;
}
hr.socket {
   border-top: .2rem solid #666b71;
   width: 100%;
}

a.top-scroll {
   right: 1.2rem;
   bottom: 1.2rem;
   position: fixed;
   opacity: .3;
   z-index: 1000;
   display: none;
}
a.top-scroll:hover {
   opacity: .5;
}
.top-scroll .svg-inline--fa {
   background: white;
   color: #53595f;
   font-size: 3rem;
   height: 1.7rem;
}

@media (max-width: 991.98px) {
   .caption h1 {
      font-size: 3.5rem;
      letter-spacing: .2rem;
      padding-bottom: .8rem;
   }
   .caption h3 {
      font-size: 2.2rem;
      padding-bottom: 1.7rem;
   }
   .caption .btn-lg {
      padding: .7rem 1.2rem;
      font-size: 1rem;
   }
}

@media (max-width: 767.98px) {
   .caption h1 {
      font-size: 2.7rem;
      letter-spacing: .15rem;
      padding-bottom: .5rem;
   }
   .caption h3 {
      font-size: 1.7rem;
      padding-bottom: 1.2rem;
   }
   .caption .btn-lg {
      padding: .6rem 1.1rem;
   }
   #features h1 {
      font-size: 2rem;
   }
   .fixed-dark {
      background-image: url('10.png')
   }
   .fixed-light {
      background-image: url('10.png')
   }
   .footer {
      background: url('10.png') no-repeat;
   }
   .top-scroll {
      display: none!important;
   }
}

@media (max-width: 575.98px) {
   .caption h1 {
      font-size: 1.9rem;
      letter-spacing: .1rem;
      padding-bottom: .4rem;
   }
   .caption h3 {
      font-size: 1.2rem;
      padding-bottom: 1rem;
   }
   .caption .btn-lg {
      padding: .4rem .9rem;
      font-size: .9rem;
   }
}
